*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:100%;
    min-height:100%;
    background:#000;
    overflow-x:hidden;
    overflow-y:auto;
    font-family:Arial,sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:flex-start;
}

.dispatch{
    position:relative;
    width:100%;
    max-width:1024px;
    margin:0 auto;
    transition:.8s;
}

.dispatch-image{
    display:block;
    width:100%;
    height:auto;
    pointer-events:none;
    user-select:none;
}

.hotspot{
    position:absolute;
    display:block;
    cursor:pointer;
    border-radius:14px;
    transition:
        transform .18s ease,
        background .25s ease,
        box-shadow .25s ease;
}

.hotspot:hover{
    background:rgba(255,180,0,.10);
    box-shadow:
        0 0 18px rgba(255,190,0,.55),
        0 0 38px rgba(255,190,0,.22),
        inset 0 0 15px rgba(255,255,255,.06);
}

.hotspot:active{
    transform:scale(.96);
}

/* ==========================
   КНОПКИ
========================== */

.telegram{
    left:17%;
    top:38.3%;
    width:66%;
    height:8%;
}

.youtube{
    left:17%;
    top:49.2%;
    width:66%;
    height:8%;
}

.tiktok{
    left:17%;
    top:60.1%;
    width:66%;
    height:8%;
}

.donate{
    left:17%;
    top:71%;
    width:66%;
    height:8%;
}

@media (max-width:768px){

    .dispatch{
        width:100%;
        max-width:100%;
    }

    .hotspot{
        border-radius:8px;
    }

}